<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Fight the Dragon!</title>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  <script>
    const API_KEY = {{ API_KEY | tojson }};
    const BACKGROUND = {{ BACKGROUND | tojson }};

    document.addEventListener("DOMContentLoaded", function () {
      document.body.style.backgroundImage = "url('https://api.echo3D.co/query?key={{ API_KEY }}&file={{ BACKGROUND }}')";
    });
  </script>
</head>

<body>
  <h1><span class="highlight">Fight the Evil Dragon!</span></h1>

  <p>
    <span class="texthighlight">The dragon is destroying the city!</span>
  </p>

  <p>
    <span class="texthighlight">
      You are the most powerful knight in the city. Use your sword to kill the dragon!
    </span>
  </p>

  <p>
    <span class="texthighlight">
      <a href="/game">Click here to start!</a>
    </span>
  </p>
</body>

</html>